h1{
    font-family: "bio-sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 10.5em;
    text-align: center;
    margin-top: 22%;
    margin-bottom: 22%;
    color: #000000;
}

#header{
    color:#ffffff
}
#subheader{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 3.5em;
    text-align: center;
    color: #ffffff;
}

body {
    background-image: url("Artboard 1_1.png");
    background-repeat: repeat-y;
    background-size: cover;
}

