h1{
    font-family: "bio-sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 10.5em;
    text-align: center;
    margin-top: 22%;
    margin-bottom: 22%;
    color: #000000;
}

#header{
    color:#ffffff
}
#subheader{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 3.5em;
    text-align: center;
    color: #ffffff;
    padding:0px;
}

body {
    background-image: url("Artboard 1_1.png");
    background-repeat: repeat-y;
    background-size: cover;
}

.text {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
    padding: 10px; /* Optional: for spacing */
    width: 100%;
    overflow-wrap: break-word; /* For breaking long words */
    align-items: center;
    padding-bottom: 10%;
}

#summary{
    font-size: 2em;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 6.25%;
  text-align: center;
  color:#ffffff;
  font-family: "azo-sans-web", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5em;
}

/*hover functionality*/
.hover-container {
  position: relative; /* Essential for positioning the tooltip */
  display: inline-block; /* Allows the container to wrap its content */
}

.tooltip-info {
  visibility: hidden; /* Hides the tooltip by default */
  opacity: 0; /* Starts with full transparency */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
  position: absolute; /* Positions the tooltip relative to its container */
  z-index: 1; /* Ensures the tooltip appears above other content */
  background-color: #333; /* Background color for the tooltip */
  color: #fff; /* Text color for the tooltip */
  border-radius: 4px; /* Rounded corners for the tooltip */
  white-space: normal; /* text wrapping */
  /* Adjust positioning as needed, e.g., top, bottom, left, right */
  bottom: 125%; /* Positions above the main text */
  left: 50%;
  transform: translateX(-50%); /* Centers the tooltip horizontally */
  padding: 500px, 500px, 500px, 500px;
  text-align: left;
}

.hover-container:hover .tooltip-info {
  visibility: visible; /* Makes the tooltip visible on hover */
  opacity: 1; /* Fades the tooltip in */
}
